<!DOCTYPE html>
<html lang="en">
<head>
    {{> /include/header}}
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
{{> /include/navigation}}
<div class="container" id="main">


<a href="/groups/" class="btn btn-info" role="button">그룹 리스트 확인하기</a>
<a href="/groups/groupList" class="btn btn-info" role="button">나의 세트 리스트 확인하기</a>
<a href="/groups/groupList" class="btn btn-info" role="button">단어 학습하기</a>


<button type="button" href="/groups/groupList">그룹 리스트 확인하기</button>
<button type="button" href="/groups/groupList">나의 세트 리스트 확인하기</button>
<button type="button" href="/groups/groupList">단어 학습하기</button>
</div>
{{> /include/footer}}
</body>
</html>